<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Clase</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="main.css">

    <!-- Importación de Vue.js por CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <!-- HTML con renderización declarativa -->
    <div id="app">
        <div class="wrapper">
            <h1>Presentación en el curso de Vue.js</h1>
            <h2>Datos personales</h2>
            <ul>
                <li>Nombre Completo: {{`${lastName} ${firstName}`}}</li>
                <li>Edad: {{2020 - yearOfBirth}}</li>
                <li>Lugar de procedencia: {{placeOfOrigin}}</li>
                <li>Perfil de github: <a :href="githubProfile">{{githubProfile}}</a></li>
            </ul>
            <h2>Experiencia con CSS</h2>
                <p>{{cssExperience}}</p>
                <!-- Esto se puede borrar -->
                <h4>Ayudame con unos indicadores de colores</h4>
                <h5 style="color: green" v-if="cssExperience.length > 50">Si el texto tiene menos de 50 caracteres</h5>
                <h5 style="color: red" v-else>Si el texto tiene mas de 50 caracteres</h5>
                <!-- / -->
            <h2>Experiencia con JS</h2>
                <p>{{jsExperience}}</p>
                <!-- Esto se puede borrar -->
                <h4>Ayudame con unos indicadores de colores</h4>
                <h5 style="color: green" v-if="jsExperience.length > 50">Si el texto tiene menos de 50 caracteres</h5>
                <h5 style="color: red" v-else>Si el texto tiene mas de 50 caracteres</h5>
                <!-- / -->
            <h2 v-if="courses">Cursos</h2>
                <ul>
                    <li v-for="course in courses"><b>{{course.title}} - {{course.endDate}}</b></li>
                </ul>
                <h3 v-else>[Si no tenemos cursos, deberíamos mostrar un mensaje indicandolo]</h3>
            <h2>Proyectos</h2>
                <!-- <ul>
                    <li></li>
                </ul> -->
                <h3>{{projects}}</h3>
        </div>
    </div>
    <!-- / -->

    <!-- Su JS aquí debajo por favor... -->
    <script>
        var app = new Vue({
            el: '#app', // Este será el id de la tarjeta contenedora de nuestra App Vue.js
            data: {

                // Datos personales

                firstName: 'Juan',
                lastName: 'Robledo',
                yearOfBirth: 1992,
                date: new Date(),

                // ***AGREGAR VARIABLES***
                placeOfOrigin: 'Recreo - Catamarca',
                githubProfile: 'https://github.com/Juan-Robledo',
                // Otros datos

                cssExperience: 'La experiencia que presento en CCS es basica, en el curso de programacion web full stack dictado en doctadevs, se realizo mucho incapies en la maquetacion en el displey flex para obtener una maquetacion flexible que se pueda ajustar a distintas pantalla de los dispositivos. Tengo muy poquito conocimieto de estas herramientas boostrap y sass pero todavia no las puse en practica.', // Modíficá este texto
                jsExperience: 'Tengo los conocimientos basicos, entendiendo que cuales los tipo de datos que existen, los ciclo de repeticion, los ciclos de condicionales, funciones, promesas y trabajar con fecth para poder consumir datos desde una API Rest.', // Modificá este texto

                courses: [{
                    title: 'Vue.js',
                    endDate: 'En curso'
                },
                {
                    title: 'Progrador web Full-Stack',
                    endDate: 'En curso'
                }], // Los objetos deberían tener una forma similar a {title: String, endDate: String}
                projects: 'No presento proyectos', // Los objetos deberían tener una forma similar a {title: String, link: String}
            }
        })
    </script>
    <!-- / -->
</body>
</html>